apiVersion: v1
kind: Service
metadata:
  name: immich-db
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.postgres.port }}
      targetPort: {{ .Values.postgres.port }}
      name: postgres
  selector:
    app: immich-db
