apiVersion: v1
kind: Service
metadata:
  name: immich-redis
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}
      name: redis
  selector:
    app: immich-redis
