image:
  repository: vaultwarden/server
  tag: latest

domain: "https://hostname.example.com"
sslSecretName: "vw-ssl-certs"

service:
  type: ClusterIP
  port: 443

ingress:
  enabled: true
  className: "nginx"
  annotations:
    traefik.ingress.kubernetes.io/router.entryPoints: websecure
  host: "hostname.example.com"

persistence:
  enabled: true
  size: 1Gi
  storageClass: "local-path"